.po {
   width: 100%;
   height: 2000px;
   background-color:#FAFAFA;
 
}

.he{
   width: 100%;
   height: 300px;
   background-color: #FAFAFA;
   display: flex;
   margin-left: auto;
   margin-right: auto;
   gap:  500px;
   justify-content: center;
   
}
.product{
   background-color: #fbfafa;
   margin-top:50px;
   color:black;
}
.contenr {
  margin-top:50px;
  color: #00BCD4;
}
.product{

list-style-image: url("../images/icon.svg");
}


.bottom{
   margin-top: 100px;
   width: 100%;
   height: 300px;
   background-color:black;
   display: flex;
   margin-left: auto;
   margin-right: auto;
   gap:  500px;
   justify-content: center;
   

}